body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color:#77e2f7;
}


.container {
    background-color: #f4f6f5;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

.input-group, .button-group, .formula {
    margin-bottom: 20px;

}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="number"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #49f5d0;
    border-radius: 5px;
    box-sizing: border-box;
}

input[readonly] {
    background-color: #f2f2f2;
}

button {
    padding: 8px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-group button {
    margin-right: 20px;
    font-size: 16px;
}